VITE_API_URL=VITE_API_URL
VITE_GOOGLE_CLIENT_ID=VITE_GOOGLE_CLIENT_ID

# AWS SES (usadas solo por la función serverless en api/send-email.ts)
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SES_FROM_EMAIL=